.tableCart {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.tdCart {
  border: 1px solid black;
  margin: 3%;
  width: 20rem;
  padding-right: 2%;
  align-items: center;
}

.carroVacio {
  display: flex;
  margin: auto;
  width: 40%;
  border-bottom: 1px solid #010101;
  padding-bottom: 1%;
  justify-content: center;
  padding-top: 3%;
  margin-top: 2.5%;
  margin-bottom: 1.5%;
  font-size: 25px;
}

.btnEliminar {
  text-decoration: none;
  height: 50px;
  width: 10rem;
  justify-content: center;
  color: #010101;
  background-color: grey;
  display: flex;
  margin: auto;
  padding: 1%;
  margin-bottom: 3%;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  margin-top: 3%;
  align-items: center;
}

.totalPrice {
  margin-top: 2%;
  font-size: 20px;
  font-weight: 600;
}
