.cardTotalDetail {
  margin: 5%;
  width: 85%;
  justify-content: center;
  border: 1px solid #010101;
  padding: 5%;
  box-shadow: -4px 4px 6px 0px rgba(0, 0, 0, 0.75);
}
.cardProductoDetail {
  display: flex;
}
.titlGeneral {
  font-size: 26px;
  padding-top: 1%;
}
.cardContent {
  flex-direction: row;
  padding-top: 5%;
  width: 65%;
}
.itemsContent {
  font-size: 1.5rem;
  margin-top: 3%;
}
.containerImg {
  width: 30%;
  display: flex;
}
.imagenes_productos-detail {
  height: 450px;
}

.cardFoot {
  padding-bottom: 5%;
}

.volverList {
  font-size: 22px;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 0.5%;
  width: 10%;
}
