@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.cardTotal {
  margin-top: 5%;
  width: 33%;
  min-height: 800px;
  display: flex;
  float: left;
  justify-content: center;
}
.cardProducto {
  border: 1px solid #010101;
  margin: 2%;
  box-shadow: -4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  width: 70%;
}

.imagenes_productos {
  display: flex;
  padding: 3%;
  width: 85%;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
}

.btnGral {
  text-decoration: none;
  width: 30%;
  justify-content: center;
  color: #010101;
  background-color: grey;
  display: flex;
  margin: auto;
  padding: 1%;
  margin-bottom: 3%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  border: 1px solid black;
  outline: none;
  margin-top: 3%;
}

.btnGral:hover {
  color: white;
  font-weight: 300;
  text-decoration: none;
  transform: scale(1.1);
}

.logoNosotros {
  width: 30%;
  margin: auto;
  padding-top: 3%;
}

.parrafNosotros {
  font-size: 1.5rem;
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: auto;
  padding-top: 3%;
}
