.tituloPrincipal {
  display: flex;
  margin: auto;
  width: 40%;
  border-bottom: 1px solid #010101;
  padding-bottom: 1%;
  justify-content: center;
  padding-top: 3%;
  margin-top: 2.5%;
  margin-bottom: 1.5%;
}

.cardsContainer {
  width: 100%;
  margin: auto;
}

.cardDescrip {
  color: black;
}
