@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.navBarTotal {
  background-color: rgb(69, 76, 83);
  height: 70px;
}
.barraNav {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  width: 80%;
  align-items: center;
}
.imgLogo {
  width: 15%;
}
.navegables {
  display: flex;
  margin: auto;
  padding-right: 2%;
  margin-right: 2%;
  font-weight: 500;
  color: #010101;
  padding-top: 1.5%;
}

.navs {
  padding-right: 5%;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.navs:hover {
  transform: scale(1.1);
  color: grey;
}

.Cart {
  padding-top: 15%;
}
.itemNum {
  color: #010101;
  border-radius: 40%;
  background-color: white;
  width: 30%;
  align-items: center;
}

.catDrop {
  color: #010101;
  font-weight: 500;
  font-size: 1.5rem;
}
