/* .footer {
  display: flex;
  border-top: 1px solid #010101;
  height: 200px;
}
.mapa {
  width: 50%;
  margin: auto;
  padding: 2%;
  border-right: 1px solid #010101;
}*/
.mapa-iframe {
  display: flex;
  margin-left: 5%;
}

.datos-contacto {
  margin-top: 3%;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  background-color: rgb(69, 76, 83);
  height: 30px;
  padding-bottom: 4%;
  overflow: hidden;
}

.datos-content {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 1%;
}
.img-contact {
  height: 30px;
}
.imagenFoot {
  height: 30px;
}

#imagenTel {
  width: 30px;
}
